body {
  font-family: 'Open Sans', sans-serif;
}

body,
section {
  padding-top: 60px;
}


.item {
  height: 100%;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  font-weight: bold;
}

.past-job {
  margin-bottom: 15px;
  padding: 5px 0;
  min-height: 20px;
}

.section-title,
.position,
.college{
  font-weight:bold;
}

.degree {
  font-weight: 600;
  color: #222;
}

#subtitle {
  font-size: 16px;
}

#profile p {
  line-height: 27px;
  vertical-align: bottom;
  margin: 0 0 5px;
}

#profile span {
  white-space:nowrap;
}

#footer p {
  padding-top: 5px;
}

dl {
  float: right;
  clear: none;
  width: 100%;
}

dt {
  display: none;
}

dd {
  width: 100%;
}

.section-title  {
  margin: 1px 0 3px 0;
  color: #868686;
  font-weight: 700;
  font-size: 22px;
}

.paragraph-title {
  margin: 2px 0 2px 0;
  color: #454545;
  font-weight: 600;
  font-size: 120%;

}

.date {
  color: #666;
  font-size: 86%;
}

.company,
.college-location {
  color: #888;
}

#personal-data dd {
  width: 100%;
}

div.lang {
  float: right;
  margin-right: 80px;
  border:0;
}

.lang a:hover {
  border:0;
  border-style:none;
  text-decoration: underline;
}

.lang img {
  border:0;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

#footer .glyphicon {
  margin-right: 5px;
}

.tags {
  padding-left: 0;
  list-style: none;
}

.tags li,
.tag {
/*  display: inline-block;
  margin: 0 1px 1px 0;*/
  padding: 3px 6px;
  border-radius: 3px;
  background-color: #d1d1d1;
  vertical-align:middle;
  word-wrap: break-word;
}

.no-style {
  padding-left: 0;
  list-style-type: none;
}

@media (min-width: 992px) {
  .border-top {
    padding-top: 5px;
    /*border-top: 1px solid #999;*/
  }

  #contacts {
    padding-bottom: 495px;
  }
}

@media print {
  .border-top {
    padding-top: 15px;
    border-top: 1px solid #999;
  }

  section {
    padding-top: 35px;
  }

}
