body,
section {
  padding-top: 70px;
}

.item {
  height: 100%;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  font-weight: bold;
}

.past-job {
  margin-bottom: 15px;
  padding: 5px 0;
  min-height: 20px;
}

.section-title,
.position {
  font-weight:bold;
}

dl {
  float: right;
  clear: none;
  width: 100%;
}

dt {
  display: none;
}

dd {
  width: 100%;
}

h3.section-title  {
  margin: 1px 0 3px 0;
  color: #454545;
  font-weight: 700;
  font-size: 22px;
}

p.paragraph-title {
  margin: 2px 0 2px 0;
  color: #454545;
  font-weight: 600;
  font-size: 120%;

}

p.date {
  color: #666;
  font-size: 86%;
}

p.company {
  color: #888;
}

#personal-data dd {
  width: 100%;
}

div.lang {
  float: right;
  margin-right: 80px;
  border:0;
}

.lang a:hover {
  border:0;
  border-style:none;
  text-decoration: underline;
}

.lang img {
  border:0;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

#footer .glyphicon {
  margin-right: 5px;
}

@media (min-width: 992px) {
  .border-top {
    padding-top: 5px;
    border-top: 1px solid #999;
  }

  #contacts {
    padding-bottom: 495px;
  }
}

